{% extends 'base.html' %}

{% block head %}
<style>
    .dtableforstrain{
        margin-left:250px;
        margin-right: 100px;
        height:50px;
    }
    .dtprojectforstrain{
        margin-left:250px;
        margin-right: 100px;
        height:50px;
        padding-bottom: 250px;
    }

    #project_id.dataTable tbody tr:hover {
    background-color: white;
    }

    #table_id.dataTable tbody tr:hover {
    background-color: lightgrey;
    }
</style>
{% endblock %}




{% block body %}
<br>
<br>
<br>

<div class = "dtprojectforstrain">
    <table id="project_id" class ="table table-hover">
        <thead class="thead-light">        
            <tr>
                <th>Projects</th>
                <th>Descriptions</th>
            </tr>
        </thead>
    </table>
    
    </div>

<br>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class = "dtableforstrain">
<table id="table_id" class ="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>PlateIDs</th>
            <th>Plate</th>
            <th>Strain</th>
            <th>Modification/Metadata</th>
            <th>Specie</th>
            <th>Project</th>
            <th>POC</th>
        </tr>
    </thead>
</table>

</div>


{% endblock %}

{% block script%}
<script>
    $(document).ready(function() {
        var table = $('#table_id').DataTable( {
            //"ajax": '/strains/json',
            "ajax":'/strains/json?strain={{"ecoli"}}',
            "lengthChange": true,
            "deferRender": true,
            "info": true,
            "lengthMenu": [[10, 50, 80, -1], [10, 50, 80, "All"]],
        } );

        $('#table_id').on('click', 'tr', function() {
            console.log('API row values : ', table.row(this).data());
        
        })
    } );

    $(document).ready(function() {
        $('#project_id').DataTable( {
            "ajax": '/projects/json',
        } );
    } );
</script>

{%endblock%}
